<a href="https://colab.research.google.com/github/yami2587/cyber-security-01/blob/main/untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str ='aman is a good in cyber security threts'
str1=''
l=len(str)-1
for i in range (l,-1,-1):
  str1=str1+str[i]
print('oringneln string =', str)
print('cypher string =',str1)

oringneln string = aman is a good in cyber security threts
cypher string = sterht ytiruces rebyc ni doog a si nama

In [ ]:
from re import ASCII
str='CHAMPA BHILAIZ'
str1 =''
l=len(str)/
for i in range(0,l):
  str1=str1+chr((ord(str[i]))+5)
print('cypher test=',str1)

cypher test= HMFRUF%GMNQFN_

In [ ]:

str='Hmfruf%gmnqfn%'
str1=''
l=len(str)
for i in range(0,l):
  str1=str1+chr((ord(str[i]))-5)
print('oringnel code = ',str1)

oringnel code =  Champa bhilai

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
from re import ASCII
str='hi its aman raj '
str1 =''
l=len(str)
for i in range(0,l):
  if(str[i].isupper()):
     str1=str1+chr((ord(str[i])+5-65)%26+65)
  else:
     str1=str1+chr((ord(str[i])+5-97)%26+97)
print('cypher test=',str1)

cypher test= mnsnyxsfrfsswfos

In [ ]:
from re import ASCII
str='mnsnyxsfrfsswfos'
str1 =''
l=len(str)
for i in range(0,l):
  if(str[i].isupper()):
    str1=str1+chr((ord(str[i])-5-65)%26+65)
  elif(str[i].islower()):
    str1=str1+chr((ord(str[i])-5-97)%26+97)
  else:
    print('given text ',str)
print('orijnal text ',str1)

orijnal text  hinitsnamannrajn

In [ ]:
#prime um
num=12
i=2
y=0
while(i <= num/2):
  if(num%i==0):
    y=1
    break
  if(y==0):
    print('num is prime')
  else:
    print('num is not prime')

In [ ]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [ ]:
def addition(x,b):
       print('addition =',x+b)

addition(4,8)

addition = 12

10 oct 2023

In [ ]:
print('program for simple calcu.')
#print('enter your choice:-')
print('''
         1.addition
         2.sub
         3.mul
         4.div
         5.exit
        ''')

i=input('enter your choice:')
a=int(input('enter 1st num:'))
b=int(input("enter a 2nd num:"))

try:

 match i:
     case'1':
        print(a+b)
     case'2':
        print(a-b)
     case'3':
        print(a*b)
     case'4':
        print(a/b)
     case'5':
        exit

except(DivideByZero):
     print('invalid input')

program for simple calcu.

         1.addition
         2.sub
         3.mul
         4.div
         5.exit

KeyboardInterrupt: ignored

In [ ]:
print('program for simple calcu.')
while True:
    print('''
         1.addition
         2.sub
         3.mul
         4.div
         5.exit
        ''')
    i=input('enter your choice:')


    match i:
      case'1':
         a=int(input('enter 1st num:'))
         b=int(input("enter a 2nd num:"))
         print('addition:',a+b)
      case'2':
         a=int(input('enter 1st num:'))
         b=int(input("enter a 2nd num:"))
         print('sub:',a-b)
      case'3':
         a=int(input('enter 1st num:'))
         b=int(input("enter a 2nd num:"))
         print('mul:',a*b)
      case'4':
         a=int(input('enter 1st num:'))
         b=int(input("enter a 2nd num:"))
         print('div:',a/b)
      case'5':
         break


# x=input('do you want to continue(y/n)..?')

# if x=='n':
#       break

program for simple calcu.

         1.addition
         2.sub
         3.mul
         4.div
         5.exit

enter your choice:2
enter 1st num:12
enter a 2nd num:23
sub -11

         1.addition
         2.sub
         3.mul
         4.div
         5.exit

enter your choice:5

class types in ehih var are public

In [ ]:
class demo:
    name='yami'
    age='20'
obj1=demo
print('name:',obj1.name)
print('age:',obj1.age)

name: yami
age: 20

let think we have class with private var
26oct 2023

In [6]:
class course:
  _cname=''
  _duration=''
  _fee=''

  def getdata():
    _cname='btech'
    _duration='4year'
    _fee='70000'
  def putdata():
    print('course name:',_cname)
    print('duration :',_duration)
    print('fee:',_fee)


y1=course
y1.getdata()
y1.putdata()

course name: Btech
duration :  3years
fee: 40000

In [7]:
class course:
  def __init__(self,s,d,f):
    self._cname=s
    self._duration=d
    self._fee=f



  def putdata(self):
    print('course name:',self._cname)
    print('duration :',self._duration)
    print('fee:',self._fee)

y1=course('Btech',' 4years',40000)
y1.putdata()

course name: Btech
duration :  3years
fee: 40000

create a class and consteructer thatts take sub no of 5 num and return its in percentage

In [ ]:
#pro03
class course:
  def __init__(self,s1,s2,s3,s4,s5):
    self.math=s1
    self.phy=s2
    self.chm=s3
    self.eng=s4
    self.hin=s5

  def printdata(self):
     print('math',self.math)
     print('phy',self.phy)
     print('chm',self.chm)
     print('eng',self.eng)
     print('hin',self.hin)
  def percentage(self):
     return((self.math+self.phy+self.chm+self.eng+self.hin)/5)

c1=course(78,89,56,96,99)
c1.printdata()
c1.percentage()