<a href="https://colab.research.google.com/github/yami2587/cyber-security-01/blob/main/untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str ='aman is a good in cyber security threts'
str1=''
l=len(str)-1
for i in range (l,-1,-1):
  str1=str1+str[i]
print('oringneln string =', str)
print('cypher string =',str1)

oringneln string = aman is a good in cyber security threts
cypher string = sterht ytiruces rebyc ni doog a si nama

In [ ]:
from re import ASCII
str='CHAMPA BHILAIZ'
str1 =''
l=len(str)/
for i in range(0,l):
  str1=str1+chr((ord(str[i]))+5)
print('cypher test=',str1)

cypher test= HMFRUF%GMNQFN_

In [ ]:

str='Hmfruf%gmnqfn%'
str1=''
l=len(str)
for i in range(0,l):
  str1=str1+chr((ord(str[i]))-5)
print('oringnel code = ',str1)

oringnel code =  Champa bhilai

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
from re import ASCII
str='hi its aman raj '
str1 =''
l=len(str)
for i in range(0,l):
  if(str[i].isupper()):
     str1=str1+chr((ord(str[i])+5-65)%26+65)
  else:
     str1=str1+chr((ord(str[i])+5-97)%26+97)
print('cypher test=',str1)

cypher test= mnsnyxsfrfsswfos

In [ ]:
from re import ASCII
str='mnsnyxsfrfsswfos'
str1 =''
l=len(str)
for i in range(0,l):
  if(str[i].isupper()):
    str1=str1+chr((ord(str[i])-5-65)%26+65)
  elif(str[i].islower()):
    str1=str1+chr((ord(str[i])-5-97)%26+97)
  else:
    print('given text ',str)
print('orijnal text ',str1)

orijnal text  hinitsnamannrajn

In [ ]:
#prime um
num=12
i=2
y=0
while(i <= num/2):
  if(num%i==0):
    y=1
    break
  if(y==0):
    print('num is prime')
  else:
    print('num is not prime')

In [ ]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [ ]:
def addition(x,b):
       print('addition =',x+b)

addition(4,8)

addition = 12

10 oct 2023

In [ ]:
print('program for simple calcu.')
#print('enter your choice:-')
print('''
         1.addition
         2.sub
         3.mul
         4.div
         5.exit
        ''')

i=input('enter your choice:')
a=int(input('enter 1st num:'))
b=int(input("enter a 2nd num:"))

try:

 match i:
     case'1':
        print(a+b)
     case'2':
        print(a-b)
     case'3':
        print(a*b)
     case'4':
        print(a/b)
     case'5':
        exit

except(DivideByZero):
     print('invalid input')

program for simple calcu.

         1.addition
         2.sub
         3.mul
         4.div
         5.exit

KeyboardInterrupt: ignored

In [ ]:
print('program for simple calcu.')
while True:
    print('''
         1.addition
         2.sub
         3.mul
         4.div
         5.exit
        ''')
    i=input('enter your choice:')


    match i:
      case'1':
         a=int(input('enter 1st num:'))
         b=int(input("enter a 2nd num:"))
         print('addition:',a+b)
      case'2':
         a=int(input('enter 1st num:'))
         b=int(input("enter a 2nd num:"))
         print('sub:',a-b)
      case'3':
         a=int(input('enter 1st num:'))
         b=int(input("enter a 2nd num:"))
         print('mul:',a*b)
      case'4':
         a=int(input('enter 1st num:'))
         b=int(input("enter a 2nd num:"))
         print('div:',a/b)
      case'5':
         break


# x=input('do you want to continue(y/n)..?')

# if x=='n':
#       break

program for simple calcu.

         1.addition
         2.sub
         3.mul
         4.div
         5.exit

enter your choice:2
enter 1st num:12
enter a 2nd num:23
sub -11

         1.addition
         2.sub
         3.mul
         4.div
         5.exit

enter your choice:5

class types in ehih var are public

In [ ]:
class demo:
    name='yami'
    age='20'
obj1=demo
print('name:',obj1.name)
print('age:',obj1.age)

name: yami
age: 20

let think we have class with private var
26oct 2023

In [ ]:
class course:
  _cname=''
  _duration=''
  _fee=''

  def getdata():
    _cname='btech'
    _duration='4year'
    _fee='70000'
  def putdata():
    print('course name:',_cname)
    print('duration :',_duration)
    print('fee:',_fee)


y1=course
y1.getdata()
y1.putdata()

course name: Btech
duration :  3years
fee: 40000

In [ ]:
class course:
  def __init__(self,s,d,f):
    self._cname=s
    self._duration=d
    self._fee=f



  def putdata(self):
    print('course name:',self._cname)
    print('duration :',self._duration)
    print('fee:',self._fee)

y1=course('Btech',' 4years',40000)
y1.putdata()

course name: Btech
duration :  3years
fee: 40000

create a class and consteructer thatts take sub no of 5 num and return its in percentage

In [ ]:
#pro03
class course:
  def __init__(self,s1,s2,s3,s4,s5):
    self.math=s1
    self.phy=s2
    self.chm=s3
    self.eng=s4
    self.hin=s5

  def printdata(self):
     print('math',self.math)
     print('phy',self.phy)
     print('chm',self.chm)
     print('eng',self.eng)
     print('hin',self.hin)
  def percentage(self):
     return('percentage:' ,(self.math+self.phy+self.chm+self.eng+self.hin)/5)

c1=course(78,89,56,96,99)
c1.printdata()
c1.percentage()

math 78
phy 89
chm 56
eng 96
hin 99

('percentage:', 83.6)

assignment1

In [ ]:
#assignment1
class branch:
    def __init__(self,bn,ifs):
        self.bname=bn
        self.ifsc=ifs
    def branchdetails(self):
        print('branch name:',self.bname)
        print ('ifsc',self.ifsc)


class account(branch):
    def __init__(self,ano,cn):
      super().__init__(ano,cn)
      self.anum=ano
      self.cname=cn


#class saving(account):
    def saving(self,cam):
        self.mina=10000
        self.caa=cam
#class loan(saving):
    def loan(self,lid,lam):
        self.loanid=lid
        self.loana=lam

#class payment(loan):
    def payment(self,pid,pa):
        self.paymentid=pid
        self.paymentam=pa

class acountdetails(account):
   def __init__(self,ls):
        super().__init__(ls,cn)
        print('num:',self.ls)
        print(self.cn)
        print ('account num:',self.anum)
        print('branch name:',self.bname)
        print ('account num:',self.anum)
        print ('custmer name',self.cname)
        print ('****************************************')
        print('saving account balance:',self.caa)
        print('*minimum balance limit(maintain above this level ):',self.mina)
        print ('****************************************')
        print (' type -- saving account ')

        print ('loan id',self.loanid)
        print ('loan amount:',self.loana)
        print ('last emi payment list:-',)
        print ('payment id:',self.paymentid)
        print('payment amount:',self.paymentam)

a1=branch('sbi saragaon','sbin00968')
a2=account(1750005698,'yami yamako')
a2.saving('23099998')
a2.loan(780005674,300000)
a2.payment(4523000897,300000)
a1.branchdetails()
a3=acountdetails(2)
a3.accdetails()

branch name: sbi saragaon
ifsc sbin00968

NameError: ignored

29 oct 2023

In [ ]:

import numpy as np
arr=np.array([5,7,8,9,13])
print('all:',arr)
#For max value
max=0
for i in range(0,5):
    if(arr[i]>max):
        max=arr[i]

print('largest num is:',max)

#for addition
add=0
f=0
for j in range(0,5):
  add+=arr[j]
  #by fun
  f=sum(arr)
print('addition is:',add,'by fun:',f)

all: [ 5  7  8  9 13]
largest num is: 13
addition is: 42 42

In [ ]:
import numpy as np
arr=np.array([[5,6,5],
              [3,5,6]])
print('orijnal array:')
print(arr)

#for matrix print
print('in matrix :')
for i in range(0,2):
  for j in range(0,3):
   # print('in matrix :')
    print(arr[i,j], end=" ")
  print()

orijnal array:
[[5 6 5]
 [3 5 6]]
in matrix :
5 6 5
3 5 6

symetric and asymetric key

In [ ]:
#assignmet 2
import numpy as np
arr=np.array([[5,6,5],
              [3,5,6]
              ,[4,57,78]])
arr2=np.array([[8,6,7],
              [12,6,78]
              ,[3,5,0]])
print('orijnal array:')
print(arr)

#for matrix print
# print('in matrix :')
print('in matrix :')
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
    print(arr[i,j], end=" ")
  print()

orijnal array:
[[ 5  6  5]
 [ 3  5  6]
 [ 4 57 78]]
in matrix :
5 6 5
3 5 6
4 57 78

In [ ]:
import math

private_key = 0
p1 = int(input('Enter the 1st prime number: '))
p2 = int(input('Enter the 2nd prime number: '))
p1p2 = p1 * p2
feeN = (p1 - 1) * (p2 - 1)

while True:
    public_key = int(input('Enter a random number between 1 and ' + str(feeN) + ': '))
    if public_key > 1 and public_key < feeN :
        break
    else:
        print('Public key must be between 1 and', feeN, 'and coprime to feeN.')

for k in range(1, p1p2):
    if (1 + (k * feeN)) % public_key == 0:
        private_key = int((1 + (k * feeN)) / public_key)
        break

print('feeN:', feeN)
print('Public key:', public_key)
print('Private key:', private_key)

Enter the 1st prime number: 13
Enter the 2nd prime number: 17
Enter a random number between 1 and 192: 47
feeN: 192
Public key: 47
Private key: 143

In [11]:
#RSA algo by-----
from math import *
def is_prime(n):
  if n<=1:
    return False
  for i in range(2,n):
    if n%i==0:
      return False

  return True
def rsa_algo(p: int, q: int, msg: int):
    n = p * q
    t = (p - 1) * (q - 1)
    for k in range(2, t):
        if gcd(k, t) == 1:
            e = k
            break
    j = 0
    while True:
        if (j * e) % t == 1:
            d = j
            break
        j += 1
    ct = (msg ** e) % n
    print(f"Cypher text is : ",ct)
    ot = (ct ** d) % n
    print(f"Original Text is : ",ot)
#for p
p=int(input('enter any 1st prime num:'))
while not is_prime(p):
  print("The number is not prime.")
  p = int(input("Enter a prime number: "))
print("The prime number is:", p)


#foe q
q=int(input('enter any 2nd prime num:'))
while not is_prime(q):
  print("The number is not prime.")
  q = int(input("Enter a prime number: "))
print("The prime number is:", q)


#for mesage
msg=int(input('enter any int message you want:'))
rsa_algo(p,q,msg)

enter any 1st prime num:45
The number is not prime.
Enter a prime number: 65
The number is not prime.
Enter a prime number: 67
The prime number is: 67
enter any 2nd prime num:2365
The number is not prime.
Enter a prime number: 139
The prime number is: 139
enter any int message you want:123
Cypher text is :  6851
Original Text is :  123